name: Project Field Automation

on:
  issues:
    types: [opened, edited, labeled]

jobs:
  update-fields:
    runs-on: ubuntu-latest
    steps:
      - name: Update Project Fields
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PROJECT_PAT }}
          script: |

            const TARGET_PROJECT_ID = "PVT_kwHOAQG1vc4BP7eW";
            const AREA_FIELD_ID = "PVTSSF_lAHOAQG1vc4BP7eWzg-MhYc";
            const AREA3_OPTION_ID = "08ac0c33";
            const SERVICE_FIELD_ID = "PVTSSF_lAHOAQG1vc4BP7eWzg-MitY";
            const OS_OPTION_ID = "af4dfc2b";

            if (!context.payload.issue) {
              console.log("No issue in payload. Skipping.");
              return;
            }

            const issueNodeId = context.payload.issue.node_id;
            const issueTitle = context.payload.issue.title || "";
            const issueBody = context.payload.issue.body || "";

            
        

            const items = data.node.projectItems.nodes;

            if (items.length === 0) {
              console.log("Issue not in any project yet.");
              return;
            }

            for (const item of items) {

              // --- SET AREA ---
              if (item.project.id === TARGET_PROJECT_ID) {

                await github.graphql(`
                  mutation {
                    updateProjectV2ItemFieldValue(input: {
                      projectId: "${item.project.id}"
                      itemId: "${item.id}"
                      fieldId: "${AREA_FIELD_ID}"
                      value: { singleSelectOptionId: "${AREA3_OPTION_ID}" }
                    }) {
                      projectV2Item {
                        id
                      }
                    }
                  }
                `);
                console.log("Area set to Area3.");
              }

              // --- SET SERVICE ---
              const text = (issueTitle + " " + issueBody).toLowerCase();

              if (text.includes("openstack")) {

                await github.graphql(`
                  mutation {
                    updateProjectV2ItemFieldValue(input: {
                      projectId: "${item.project.id}"
                      itemId: "${item.id}"
                      fieldId: "${SERVICE_FIELD_ID}"
                      value: { singleSelectOptionId: "${OS_OPTION_ID}" }
                    }) {
                      projectV2Item {
                        id
                      }
                    }
                  }
                `);

                console.log("Service set to os.");
              }
            }
